.active-category {
  background-color: #cde0c9 !important;
  color: #1a1a1a !important;
  font-weight: 600;
}

.category-link:hover {
  background-color: #eee;
  border-radius: 20px;
}

.search-wrapper {
  transition: all 0.3s ease;
}

.search-wrapper:focus-within {
  border-color: var(--furnora-green) !important;
  box-shadow: 0 0 0 0.2rem rgba(141, 181, 142, 0.25);
}

.product-card {
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.img-container {
  height: 220px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-cart {
  background-color: var(--furnora-green-light);
  color: white;
  border: none;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-cart:hover {
  background-color: var(--furnora-green-light);
  color: white;
}

.form-check-input:checked {
  background-color: var(--furnora-green);
  border-color: var(--furnora-green);
}
