<section class="categories py-5 text-center">
  <div class="container">
    <h2 class="mb-5">Shop By Category</h2>

    <div class="row justify-content-center g-4">
      <div class="col-6 col-md-3">
        <div class="category-card">
          <img src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85" />
          <p>Bedroom</p>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="category-card">
          <img src="https://images.unsplash.com/photo-1616594039964-ae9021a400a0" />
          <p>Salon</p>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="category-card">
          <img src="https://images.unsplash.com/photo-1556911220-bff31c812dba" />
          <p>Kitchen</p>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="category-card">
          <img src="https://images.unsplash.com/photo-1584622650111-993a426fbf0a" />
          <p>Bathroom</p>
        </div>
      </div>
    </div>
  </div>
</section>
