<section class="categories py-5 text-center">
  <div class="container">
    <h2 class="mb-5">{{ 'PRODUCT.SHOP_BY_CATEGORY' | translate }}</h2>

    <div class="row justify-content-center g-4">
      <div class="col-6 col-md-3">
        <div class="category-card">
          <img src="/assets/images/categories/bedroom.jpg" />
          <p>Bedroom</p>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="category-card">
          <img src="/assets/images/categories/salon.jpg" />
          <p>Salon</p>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="category-card">
          <img src="/assets/images/categories/kitchen.jpg" />
          <p>Kitchen</p>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="category-card">
          <img src="/assets/images/categories/bathroom.jpg" />
          <p>Bathroom</p>
        </div>
      </div>
    </div>
  </div>
</section>
