<footer class="customer-container footer border-top pt-5">
  <div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-6">
      <!-- Brand -->
      <div class="col">
        <h5>Damietta.</h5>
        <p>
          Premium handcrafted furniture, bringing <br />
          Damietta's finest craftsmanship to your home.
        </p>
      </div>

      <!-- Links -->
      <div class="col">
        <h5>Quick Links</h5>
        <ul class="nav flex-column">
          <li><a href="#" class="nav-link p-0">Home</a></li>
          <li><a href="#" class="nav-link p-0">Categories</a></li>
          <li><a href="#" class="nav-link p-0">About Us</a></li>
          <li><a href="#" class="nav-link p-0">Contact Us</a></li>
        </ul>
      </div>

      <!-- Links -->
      <div class="col">
        <h5>Contact</h5>
        <ul class="nav flex-column">
          <li><a href="#" class="nav-link p-0">hello@damietta.com</a></li>
          <li><a href="#" class="nav-link p-0">+20 123 456 7890</a></li>
          <li><a href="#" class="nav-link p-0">Damietta, Egypt</a></li>
        </ul>
      </div>

      <!-- Social -->
      <div class="col d-flex flex-column align-items-center">
        <h5>Follow Us</h5>
        <div class="d-flex gap-3 mt-2">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>

    <!-- bottom -->
    <div class="text-center pt-4 pb-3">
      <small>© 2026 Furnora. All rights reserved.</small>
    </div>
  </div>
</footer>
