<nav class="customer-container navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand logo" href="#">Furnora</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="links collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav w-100 d-flex justify-content-between text-center">
      <a
        class="nav-item nav-link flex-fill"
        [ngClass]="isDarkPage ? 'dark-nav' : ''"
        routerLink="/"
      >
        Home
      </a>

      <a
        class="nav-item nav-link flex-fill"
        [ngClass]="isDarkPage ? 'dark-nav' : ''"
        routerLink="/about"
      >
        About Us
      </a>

      <a
        class="nav-item nav-link flex-fill"
        [ngClass]="isDarkPage ? 'dark-nav' : ''"
        routerLink="/categories"
      >
        Categories
      </a>

      <a
        class="nav-item nav-link flex-fill"
        [ngClass]="isDarkPage ? 'dark-nav' : ''"
        routerLink="/customer"
      >
        Custome Product
      </a>

      <a
        class="nav-item nav-link flex-fill"
        [ngClass]="isDarkPage ? 'dark-nav' : ''"
        routerLink="/orders"
      >
        Orders
      </a>

      <a
        class="nav-item nav-link position-relative wishlist-link ms-auto me-3"
        [ngClass]="isDarkPage ? 'dark-nav' : ''"
        routerLink="/wishlist"
      >
        <i class="bi bi-heart fs-5"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" *ngIf="(wishlistService.wishlistCount$ | async) || 0 > 0">
          {{ wishlistService.wishlistCount$ | async }}
        </span>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" *ngIf="(wishlistService.wishlistCount$ | async) === 0">
          0
        </span>
      </a>

      <a
        class="nav-item nav-link position-relative cart-link me-3"
        [ngClass]="isDarkPage ? 'dark-nav' : ''"
        routerLink="/cart"
      >
        <i class="bi bi-cart3 fs-5"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" *ngIf="(cartService.cartCount$ | async) || 0 > 0">
          {{ cartService.cartCount$ | async }}
        </span>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" *ngIf="(cartService.cartCount$ | async) === 0">
          0
        </span>
      </a>

      <a
        class="nav-item nav-link user-link"
        [ngClass]="isDarkPage ? 'dark-nav' : ''"
        routerLink="/login"
        aria-label="Log In"
      >
        <i class="bi bi-person fs-5"></i>
      </a>
    </div>
  </div>
</nav>
