<section class="special-offers py-5">
  <div class="container text-center">
    <h2 class="fw-bold">Special Offers</h2>
    <p class="text-muted mb-5">Don't Miss These Deals</p>

    <div class="row g-4">
      <!-- CARD 1 -->
      <div class="col-md-4">
        <div class="offer-card">
          <span class="badge-off">20% OFF</span>

          <div class="img-wrapper">
            <img src="https://images.unsplash.com/photo-1617806118233-18e1de247200" />

            <div class="offer-info">
              <h6>Dining room</h6>
              <p class="price">$599 <span>$749</span></p>
            </div>
          </div>

          <button class="btn shop-btn mt-3">Shop Now</button>
        </div>
      </div>

      <!-- CARD 2 -->
      <div class="col-md-4">
        <div class="offer-card">
          <span class="badge-off">15% OFF</span>

          <div class="img-wrapper">
            <img src="https://images.unsplash.com/photo-1616594039964-ae9021a400a0" />

            <div class="offer-info">
              <h6>Dressing room</h6>
              <p class="price">$699 <span>$999</span></p>
            </div>
          </div>

          <button class="btn shop-btn mt-3">Shop Now</button>
        </div>
      </div>

      <!-- CARD 3 -->
      <div class="col-md-4">
        <div class="offer-card">
          <span class="badge-off">30% OFF</span>

          <div class="img-wrapper">
            <img src="https://images.unsplash.com/photo-1600210492493-0946911123ea" />

            <div class="offer-info">
              <h6>Dressing room</h6>
              <p class="price">$419 <span>$619</span></p>
            </div>
          </div>

          <button class="btn shop-btn mt-3">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
