.contact {
  text-align: center;
}
.contact-section input {
  width: 600px;
  height: 60px;
  border: 2px solid black;
  border-radius: 10px;
}
.contact-section textarea {
  border: 2px solid black;
  border-radius: 10px;
}
.contact .contact-btn {
  background-color: var(--furnora-green);
  color: white;
  font-size: 24px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  padding: 10px 90px;
  text-decoration: none;
  cursor: pointer;
}
